Source: elkirtasse
Section: utils
Priority: extra
Maintainer: kovax kovastros <kovax3@gmail.com>
Build-Depends: debhelper (>= 7),cdbs,libqt4-dev
Standards-Version: 3.9.1
Homepage: http://www.elkirtasse.co.cc
#Vcs-Git: git://git.debian.org/collab-maint/elkirtasse.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/elkirtasse.git;a=summary

Package: elkirtasse
Architecture:any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends:mdbtools
Description:مكتبة القرطاس
 مكتبة القرطكتبة القرطاس مكتبة القرطاس برنامج مجاني لتحرير ومطالعة الكتب يعتمد على مكتبة كيوتي 4.6 فما فوق.
 مكتبة متعددة المهام تمكنك من مطالعة كتب الشاملة او اي كتب نصية بعد تحويلها.
 بواسطة البرنامج يمكنك تتحويل الملفات xml كما يمكك حفظ الكتب الى صيغ متعددة مثل pdf و odf.
 لمزيد من الدعم والاقتراح يمكنك زيارة هضا الموقع http://elkirtasse.22web.net/.