#!/usr/bin/make -f


include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

	QMAKE=qmake-qt4 qbooks.pro	
	MAKE=make 



clean::
	rm -f build/.o po/.intltool-merge-cache

# Add here commands to clean up after the build process.
# 	rm -rf build
#         
# 	dh_clean

instal/elkirtase::
	mkdir -p $(DEB_DESTDIR)usr/bin
	mkdir -p $(DEB_DESTDIR)usr/share/applications
	mkdir -p $(DEB_DESTDIR)usr/share/elkirtasse
	mkdir -p $(DEB_DESTDIR)usr/share/doc/elkirtasse
	mkdir -p $(DEB_DESTDIR)usr/share/icons
	
	cp $(CURDIR)/elkirtasse $(DEB_DESTDIR)usr/share/elkirtasse/
	cp -R $(CURDIR)/usr/share/elkirtasse/data $(DEB_DESTDIR)usr/share/elkirtasse/
	cp -R $(CURDIR)/usr/share/applications $(DEB_DESTDIR)usr/share/
	cp -R $(CURDIR)/usr/share/icons $(DEB_DESTDIR)usr/share/
	cp -R $(CURDIR)/usr/bin/elkirtasse $(DEB_DESTDIR)usr/bin/
	cp -R $(CURDIR)/copyright $(DEB_DESTDIR)usr/share/doc/elkirtasse/
	tar -c $(CURDIR)/debian/changelog $(DEB_DESTDIR)usr/share/doc/elkirtasse/changelog.gz
#	find debian/elkirtasse/ -name "bzr"  -depth -exec rm -rf {} \;
	
	
# Build architecture-independent files here.
binary-indep: build install
	# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
	dh_installcron
	dh_installman
	dh_installinfo
#	dh_undocumented
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary:binary-indep binary-arch 
	@echo 'Package elkirtasse successfully built.'

.PHONY: build clean binary-indep binary-arch binary install
