Package: elboukhari
Version: 1.0-1
Architecture: i386
Maintainer: kovax kovastros <kovax3@gmail.com>
Installed-Size: 9204
Depends: libc6 (>= 2.3.6-6~), libgcc1 (>= 1:4.1.1), libphonon4 (>= 4:4.3.0), libqtcore4 (>= 4:4.7.0~beta1), libqtgui4 (>= 4:4.5.3), libstdc++6 (>= 4.1.1), phonon (>= 4:4.5.2)
Recommends: phonon-backend-gstreamer
Section: utils
Priority: extra
Homepage: http://www.elkirtasse.co.cc
Description: صحيح البخاري مرئئ ومسموع
  يسر مجموعة القرطاس للبرمجيات الخرة أن تقدم لكم  صحيح البخاي يعمل على جميع أنضمة التشغيل
  يرجى تخميل الصوت من الموقع الرسمي http://www.elkirtasse.co.cc
 مع تحيات أبو زكريا الجزائري
