
[Desktop Entry]
Type=Application
Name=elboukhari
Name[ar]=صحيح البخاري بالصوت

Comment[ar]=تصفح واستمع الى صحيح البخاري

Exec=elboukhari
Icon=elboukhari
Categories=Office;Dictionary;
