Source: elboukhari
Section: utils
Priority: extra
Maintainer: kovax kovastros <kovax3@gmail.com>
Build-Depends: debhelper (>= 5.0.0),cdbs,libqt4-dev,libphonon-dev
Standards-Version: 3.8.4
Homepage: http://www.elkirtasse.co.cc
#Vcs-Git: git://git.debian.org/collab-maint/elboukhari.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/elboukhari.git;a=summary

Package: elboukhari
Architecture: any
Depends: libc6 (>= 2.3.6-6~),libgcc1 (>= 1:4.1.1),libphonon4 (>= 4:4.3.0) ,libqtcore4 (>= 4:4.6.1) ,libqtgui4 (>= 4:4.5.3),libstdc++6 (>= 4.1.1 ),phonon (>= 4:4.5.2 ),${shlibs:Depends}, ${misc:Depends}
Recommends:phonon-backend-gstreamer
Description: صحيح البخاري مرئئ ومسموع
  يسر مجموعة القرطاس للبرمجيات الخرة أن تقدم لكم  صحيح البخاي يعمل على جميع أنضمة التشغيل 
  يرجى تخميل الصوت من الموقع الرسمي http://www.elkirtasse.co.cc
 مع تحيات أبو زكريا الجزائري 
