#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk
#DEB_AUTO_UPDATE_DEBIAN_CONTROL := yes
#DEB_MAKE_CHECK_TARGET := check

	QMAKE=qmake-qt4 elboukhari.pro
	MAKE=make 

# clean::
# 	rm -f build/.o po/.intltool-merge-cache


install/elboukhari::
	mkdir -p $(DEB_DESTDIR)usr/bin
	mkdir -p $(DEB_DESTDIR)usr/share/applications
	mkdir -p $(DEB_DESTDIR)usr/share/elboukhari
	mkdir -p $(DEB_DESTDIR)usr/share/icons/hicolor/scalable/apps/
	mkdir -p $(DEB_DESTDIR)usr/share/doc/elboukhari
	mkdir -p $(DEB_DESTDIR)usr/share/sbin
	cp $(CURDIR)/usr/bin/elboukhari $(DEB_DESTDIR)usr/bin/
#	ln -s $(DEB_DESTDIR)usr/bin/elboukhari $(DEB_DESTDIR)usr/share/sbin/elboukhari
	cp $(CURDIR)/elboukhari $(DEB_DESTDIR)usr/share/elboukhari/
	cp -R $(CURDIR)/usr/share/applications/elboukhari.desktop $(DEB_DESTDIR)usr/share/applications/	
	cp $(CURDIR)/main.xml $(DEB_DESTDIR)usr/share/elboukhari/
	cp -R $(CURDIR)/sound $(DEB_DESTDIR)usr/share/elboukhari/
	cp -R $(CURDIR)/usr/share/icons/hicolor/scalable/apps/elboukhari.png $(DEB_DESTDIR)usr/share/icons/hicolor/scalable/apps/
	cp $(CURDIR)/copyright $(DEB_DESTDIR)usr/share/doc/elboukhari/
	cp $(CURDIR)/AUTHORS $(DEB_DESTDIR)usr/share/doc/elboukhari/



# Build architecture-independent files here.
binary-indep: build install
	# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
	dh_installcron
	dh_installman
	dh_installinfo
#	dh_undocumented
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
#	dch -i
binary: binary-indep binary-arch 
	@echo 'Package elboukhari successfully built.'
.PHONY: build clean binary-indep binary-arch binary install
